@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model AppPost.Models.PagingList<AppPost.Models.Post>

@{
    ViewData["Title"] = "Stronicowana Lista Postów";
}

<h1>Stronicowana Lista Postów</h1>

<table class="table">
    <!-- Nagłówki i wiersze tabeli -->
</table>

<!-- Logika do wyświetlania linków do stronicowania -->
